<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <title>Document</title>
</head>
<body>
    <div>
        <h1><%= title %>!</h1>
        <form name="join" id="join">
        <label for="username">이름</label>
        <input type="text" name="username" id="username">
        <fieldset>
            <legend>성별</legend>
                <input type="radio" name="gender" id="male" value="남자">
                <label for="male">남자</label>
                <input type="radio" name="gender" id="female" value="여자">
                <label for="female">여자</label>
            </fieldset>
        <fieldset>
            <legend>생년월일</legend>
                <select name="birthYear" id="year">
                    <% for( let i=1900; i<2024; i++) { %>
                    <option value="<%= i %>"><%= i %></option>
                    <% } %>
                </select>
                    <label for="year">년</label>
                <select name="birthMonth" id="month">
                    <% for( let i=1; i<=12; i++) { %>
                    <option value="<%=i %>"><%=i %></option>
                    <% } %>
                </select>
                <label for="month">월</label>
                <select name="birthDay" id="day">
                    <% for( let i=1; i<=31; i++) { %>
                        <option value="<%=i %>"><%=i %></option>
                    <% } %>
                    </select>
                    <label for="day">일</label>        
        </fieldset>
        <fieldset>
            <legend>관심사</legend>
            <input type="checkbox" name="hobby" id="travel" value="여행">
            <label for="travel">여행</label>
            <input type="checkbox" name="hobby" id="fashion" value="패션">
            <label for="fashion">패션</label>
            <input type="checkbox" name="hobby" id="food" value="음식">
            <label for="food">음식</label>
        </fieldset>
        <br>
        <button type="button" onclick="axiosGet()">회원가입</button>
        </form>
        <br>
        <div class="result"></div>
        <a href="/">뒤로가기</a>
    </div>    
    <script>
        const resultBox = document.querySelector(".result")
        function axiosGet() { 
            console.log("axios get");   
            const form = document.forms["join"];
            const formId = document.getElementById("join");
            const hobby =[];
            const checked = formId.querySelectorAll('input[type="checkbox"]:checked');
            checked.forEach((el) => {
                hobby.push(el.value);
            });
            const data = {
                name: form.username.value,
                gender: form.gender.value,
                birthYear: form.birthYear.value,
                birthMonth: form.birthMonth.value,
                birthDay: form.birthDay.value,
                hobby, 
            };
            console.log(data);
            axios({
                method: "get",
                url: "/resultGet",
                params: data,
            }).then((res) => {
                console.log("res", res);
                resultBox.textContent = `axios get 방식으로 회원가입 성공! 
                ${res.data.data.name}님은 
                ${res.data.data.birthYear}년 ${res.data.data.birthMonth}월 ${res.data.data.birthDay}일생 
                ${res.data.data.gender}입니다. 관심사는 ${res.data.data.hobby}입니다.`;
            });

        };
    </script>
</body>
</html>