<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1><%= title %></h1>
    <ul>
        <li>이름: <%= userInfo.username %></li>
        <li>성별: <%= userInfo.gender %></li>
        <li>생일: <%= userInfo.birthYear %>년 <%= userInfo.birthMonth %>월 <%= userInfo.birthDay %>일</li>
        <li>관심사: <%= userInfo.hobby %></li>
        <li>좋아하는 색: <%= userInfo.color %></li>
        <li>휴대폰: <%= userInfo.cellphone %></li>

    </ul>
</body>
</html>